on:
  pull_request:
    branches:
      - main

jobs:
  wilco:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    name: Pr checks

steps:
  - name: Upgrade Docker client
    run: |
      sudo apt-get update
      sudo apt-get install -y docker-ce docker-ce-cli containerd.io
      sudo systemctl restart docker
      docker --version
      # Wait for Docker to be ready
      sleep 5

  - name: Check out project
    uses: actions/checkout@v2

  - name: Use Node.js
    uses: actions/setup-node@v3
    with:
      node-version: "16"

  - name: Start MongoDB
    uses: supercharge/mongodb-github-action@1.6.0
    with:
      mongodb-version: "4.4"

  - uses: oNaiPs/secrets-to-env-action@v1
    with:
      secrets: ${{ toJSON(secrets) }}

  - name: Wilco checks
    id: Wilco
    uses: trywilco/actions@main
    with:
      engine: ${{ secrets.WILCO_ENGINE_URL }}
           
      
      
